<%= javascript_include_tag "swfobject.js" %>
<div id="center">
<div id="logo">
<div id="menu">
    <%= link_to 'HOME', root_url  %> |
    <%= link_to "QUIENES SOMOS", about_path %> |
    <%= link_to "PROGRAMACION", programacion_path %> |
    <%= link_to "CONTACTO", contacto_path %> |
    <% if current_user %>
    <%= link_to "RADIO", radio_path %> 
    <% end %>
</div>
<div class="clear"></div>

<div id="login_menu" class="gallery">
 <% if current_user %>
           <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= link_to('Accesar', new_user_session_path)  %>   
        <% end %>
</div>
</div>
<div id="content">
<h1>Sala Lounge Music</h1> 
<p>
Somos un medio musical alternativo que busca la satisfacción de las demandas y exigencias del mercado empresarial y de servicios, proponiendo soluciones en audio de manera ambiental con nuestros diferentes géneros para diversos sectores y sus actividades.
</p>

<p>
Somos una empresa joven conformada por profesionales con amplios conocimientos en ingeniería, producción, dirección y administración de medios de comunicación, consientes de las necesidades específicas de la dinámica 2.0 y su poder de penetración en las masas, por lo que garantizamos además de la calidad en nuestros servicios, la calidad en su transmisión.
</p>

<p>
Sala Lounge Music es un ambiente, un espacio, un estilo de vida; es una oportunidad para el desarrollo de todas las actividades de su empresa, negocio, institución y servicio, con el acompañamiento musical sugerido por un equipo de profesionales a su servicio.
</p>

</div>
<div id="footer_img"></div>
<div id="footer_player">
<div id="container"><a href="http://www.macromedia.com/go/getflashplayer">Obten Adobe Flash Player aquí</a></div>
  <script type="text/javascript">
var s1 = new SWFObject("http://nopalhost.net/alex/player.swf","ply","328","20","9","#FFFFFF");
s1.addParam("allowfullscreen","true");
s1.addParam("allowscriptaccess","always");
s1.addParam("flashvars","file=http://76.73.5.2:8000/;stream.nsv&type=mp3&volume=90&autostart=true");
s1.write("container");
</script>
</div>
<div id="footer">Todos los derechos reservados &copy; <%= Time.now.strftime("%Y") %>
 salaloungemusic.com</div>
</div>

