<div id="center">
    <div id="logo">
        <div id="menu">
            <%= link_to 'HOME', root_url  %> |
            <%= link_to "QUIENES SOMOS", about_path %> |
            <%= link_to "PROGRAMACION", programacion_path %> |
            <%= link_to "CONTACTO", contacto_path %> |
            <% if current_user %>
            <%= link_to "RADIO", radio_path %> 
            <% end %>
        </div>
        <div class="clear"></div>
        <div id="login_menu" class="gallery">
        <% if current_user %>
           <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= link_to('Accesar', new_user_session_path)  %>   
        <% end %>
 </div>
    </div>
    <div id="site_index"></div>
    <div id="footer_player"></div>
        <div id="footer">Todos los derechos reservados &copy; <%= Time.now.strftime("%Y") %> salaloungemusic.com</div>
</div>